@model WebApplication1.Areas.Admin.Models.admin_thongtincodinh

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Content/ckfinder/ckfinder.js"></script>

<script type="text/javascript">
</script>
<script type="text/javascript">
    $(function () {

        $('#Brows').click(function () {
            var ckfinder = new CKFinder();
            ckfinder.selectActionFunction = function (Images) {
                $('#logo').val(Images);

            };
            ckfinder.popup();
        });
    })


    $(function () {
        CKEDITOR.replace("baiviettrangchu", { customConfig: "/Content/ckeditor/config.js" });
    })
    $(function () {
        CKEDITOR.replace("baiviettrangchu_en", { customConfig: "/Content/ckeditor/config.js" });
    })
</script>

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>admin_thongtincodinh</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.diachi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.diachi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.diachi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.diachi_en, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.diachi_en, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.diachi_en, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dienthoai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dienthoai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dienthoai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.website, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.website, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.website, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fax, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.TextAreaFor(model => model.mail, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.logo, htmlAttributes: new { @class = "control-label col-md-2" })
            @*<div class="col-md-10">
                @Html.EditorFor(model => model.logo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.logo, "", new { @class = "text-danger" })
                <input type="button" id="Brows" name="Brows" value="Brows images" />
            </div>*@


            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.logo)
                    @Html.ValidationMessageFor(model => model.logo, "", new { @class = "text-danger" })
                    <input type="button" id="Brows" name="Brows" value="Brows images" />
                </div>
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.diachigmap, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.diachigmap, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.diachigmap, "", new { @class = "text-danger" })
                <div class="clear"></div>
                <div class="form-control" style="border:none;height:auto;word-break: break-word!important;white-space: normal!important">
                    Hướng dẫn thiết lập đường dẫn Gmap:<br />
                    1 - Vào trang https://www.google.com/maps <br />
                    2 - Tìm kiếm địa điểm cần đánh dấu<br />
                    3 - Trong Menu -> Chọn chia sẻ/nhúng bản đồ (Share/Embed)<br />
                    4 - Trong tab Nhúng (Embed): Sao chép [Nội dung] trong src="[Nội dung]"
                    Ví dụ:@ViewBag.vdgmap0<b>@ViewBag.vdgmap1</b>@ViewBag.vdgmap2
                </div>
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.baiviettrangchu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.baiviettrangchu, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextAreaFor(model => model.baiviettrangchu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.baiviettrangchu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.baiviettrangchu_en, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.chitiet, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextAreaFor(model => model.baiviettrangchu_en, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.baiviettrangchu_en, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
