<!-- == jQuery Librery == -->
<script src="~/js/jquery-2.2.4.min.js"></script>
<!-- == Bootsrap js File == -->
<script src="~/js/bootstrap.min.js"></script>
<!-- == mixitup == -->
<script src="~/js/mixitup.min.js"></script>
<!-- == Select 2 == -->
<script src="~/js/select2.min.js"></script>
<!-- == Gallery popup == -->
<script src="~/js/jquery.colorbox-min.js"></script>
<!-- == Image Lazy Load == -->
<script src="~/js/jquery.lazy.min.js"></script>
<!-- == Slick == -->
<script src="~/js/slick.min.js"></script>
<!-- == Counter == -->
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.counterup.min.js"></script>
<!-- == Countdown == -->
<script src="~/js/jquery.plugin.js"></script>
<script src="~/js/jquery.countdown.min.js"></script>
<!-- == custom Js File == -->
<script src="~/js/custom.js"></script>

<style>
    .banner-area:before{
        background:none;
    }
</style>
@model WebApplication1.Areas.Admin.Models.admin_tintuc
@Html.Partial("_MainMenuArea")
@*<div class="banner-area banner-area--blog all-text-white text-center lazy" data-src="../../images/blog/banner.jpg">*@
<div class="banner-area banner-area--blog all-text-white text-center lazy" data-src="@ViewBag.arrBanner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @*<h1 class="page-title">Chi tiết tin tức</h1>*@
                
                <h1 class="page-title">@Resources.Resource.tintucmoichitiet</h1>
                @*@{
                    if (Session["CurrentCulture"] == null)
                    {
                        <h1 class="page-title">Chi tiết tin tức</h1>
                    }
                    else
                    {
                        if (Session["CurrentCulture"] != null)
                        {
                            <h1 class="page-title">@Session["Tintucmoict"]</h1>
                        }
                    }
                }*@



                @*<ul class="fund-breadcumb">
                    <li><a href="@Url.Action("Index", "Home")">@Resources.Resource.trangchu</a> </li>
                    <li><a href="@Url.Action("Index", "News")">@Resources.Resource.tintucmoi</a> </li>
                    <li><a href="#">@Resources.Resource.tintucmoichitiet</a> </li>
                </ul>*@


                @*<ul class="fund-breadcumb">
                    @{
                        if (Session["CurrentCulture"] == null)
                        {
                            <li><a href="@Url.Action("Index", "Home")">Trang chủ</a> </li>
                            <li><a href="@Url.Action("Index", "News")">Tin tức</a> </li>
                            <li><a href="#">Chi tiết tin tức</a> </li>
                        }
                        else
                        if (Session["CurrentCulture"] != null)
                        {
                            <li><a href="@Url.Action("Index", "Home")">@Session["Trangchu"]</a> </li>
                            <li><a href="@Url.Action("Index", "News")">@Session["Tintucmoi"]</a> </li>
                                <li><a href="#">@Session["Tintucmoict"]</a> </li>
                        }
                    }



                </ul>*@


            </div>
        </div>
    </div>
</div>

<div class="main-content section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-details">

                    <div class="blog-details-top mb40">
                        <div class="blog-details-image mb10 pd30" style="padding:30px;">
                            @*<img class="lazy" data-src="../../images/blog/blog-details1.jpg" alt="">*@
                            <img class="lazy" style="max-height:500px;width:100%;" data-src="@ViewBag.hinhdaidien" alt="">
                            <div class="loader"></div>
                        </div>
                        <div class="blog-details-top__text-content">
                            <h3 class="blog-details__title">
                                @*Tên tin tức*@
                                @*@Html.DisplayFor(model => model.tentintuc)*@


                                @{
                                    if (Session["CurrentCulture"] == null)
                                    {
                                        @Html.DisplayFor(model => model.tentintuc)
                                    }
                                    if (Session["CurrentCulture"] != null)
                                    {
                                        if (Session["CurrentCulture"].ToString() == "en-US")
                                        {
                                            @Html.DisplayFor(model => model.tentintuc_en)
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(model => model.tentintuc)
                                        }
                                    }
                                }
                            </h3>

                            <div class="hanhtrinh_motasoluoc" style="margin-bottom:30px;">
                                @*Mô tả sơ lược*@
                                @*@Html.DisplayFor(model => model.motasoluoc)*@


                                @{
                                    if (Session["CurrentCulture"] == null)
                                    {
                                        @Html.DisplayFor(model => model.motasoluoc)
                                    }
                                    if (Session["CurrentCulture"] != null)
                                    {
                                        if (Session["CurrentCulture"].ToString() == "en-US")
                                        {
                                            @Html.DisplayFor(model => model.motasoluoc_en)
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(model => model.motasoluoc)
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="blog-details-top mb40" style="padding:30px;float:left;width:100%">
                        @*@Html.Raw(Model.noidungtintuc)*@

                        @{
                            if (Session["CurrentCulture"] == null)
                            {
                                @Html.Raw(Model.noidungtintuc)
                            }
                            if (Session["CurrentCulture"] != null)
                            {
                                if (Session["CurrentCulture"].ToString() == "en-US")
                                {
                                    @Html.Raw(Model.noidungtintuc_en)
                                }
                                else
                                {
                                    @Html.Raw(Model.noidungtintuc)
                                }
                            }
                        }

                    </div>

                    <div class="social-icons " style="float:left">
                        <span>Follow Us On : </span>
                        <ul class="list-inline pdl20">
                            <li><a href="#"><i class="fa fa-facebook"></i> </a> </li>
                            <li><a href="#"><i class="fa fa-twitter"></i> </a> </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i> </a> </li>
                            <li><a href="#"><i class="fa fa-instagram"></i> </a> </li>
                            <li><a href="#"><i class="fa fa-vk"></i> </a> </li>
                            <li><a href="#"><i class="fa fa-pinterest"></i> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
